doctype html
html
    head
        title 斑马购首页
        include includes/meta
        link(rel='stylesheet' href='/lib/bower_components/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet' href='/css/base.css')
    body
        #wrapper
            #scroller
                .downpull.flip 下拉刷新
                .section
                    header.container-fluid
                        nav.row
                            a.active.col-xs-6(href="index.html")
                                span 添加商品
                            a.col-xs-6(href="control.html")
                                span 商品管理
                        form(action="/" method="get")
                            .search-box.row
                                .input-group
                                    .input-group-btn
                                        button.btn.btn-link(type="button") 分类
                                            span.glyphicon.glyphicon-menu-down
                                        ul.dropdown-menu
                                            li
                                                a(href="#") Action
                                            li
                                                a(href="#") action
                                            li
                                                a(href="#") here
                                            li.divider(role="separator")
                                            li.active
                                                a(href="#") 分类
                                        input#class(type="hidden",name="class")
                                    .input-group-btn
                                        button.btn.btn-link(type="button") 排序
                                            span.glyphicon.glyphicon-menu-down
                                        ul.dropdown-menu
                                            li
                                                a(href="#") Action
                                            li
                                                a(href="#") action
                                            li
                                                a(href="#") here
                                            li.divider(role="separator")
                                            li.active
                                                a(href="#") 排序
                                        input#sort(type="hidden",name="sort")
                                    span.search-icon.glyphicon.glyphicon-search
                                    input.form-control#searchKey(type="text",name="searchKey",placeholder="输入商品名称、品牌、功效")
                    section
                        #sliderBanner.sliderBanner
                            ol
                                li.active
                                li
                                li
                            ul
                                li.active
                                    a(href="#1")
                                        img(src="imgs/banner (1).jpg",alt="1")
                                li.next
                                    a(href="#2")
                                        img(src="imgs/banner (2).jpg",alt="2")
                                li.prev
                                    a(href="#3")
                                        img(src="imgs/banner (3).jpg",alt="3")
                        h3
                            span 最新热卖商品
                        .goods-list.container-fluid
                            .row
                                each items in dataValue
                                    a.col-xs-6(href=items.id,goodsId=items.id)
                                        dl
                                            dt.sell-out
                                                img(src=items.image,alt=items.name)
                                            dd
                                                h3 #{items.name}
                                            dd
                                                strong ￥#{items.price}
                                                span 返佣
                                                    em ￥#{items.brokerage}
                                            dd 销量
                                                em #{items.salesCount}
                .upload.flip 上拉加载
        #footer.container-fluid
            nav.row
                a.active.col-xs-4(href="index.html")
                    em
                        span.glyphicon.glyphicon-leaf
                    span 商品
                a.col-xs-4(href="order.html")
                    em
                        span.glyphicon.glyphicon-cloud
                    span 订单
                a.col-xs-4(href="center.html")
                    em
                        span.glyphicon.glyphicon-heart-empty
                    span 我的

        script(src='/lib/bower_components/jquery/dist/jquery.min.js')
        script(src='/lib/bower_components/iscroll/build/iscroll-probe.js')
        script(src='/js/base.js')
        script.
            function downPull() {
                $.ajax({
                    type: 'post',
                    url: '/',
                    data: '',
                    async: true, //默认为true 异步
                    error: function () {
                        $('.downpull').html('刷新失败').addClass('flip').removeClass('loading');
                    },
                    success: function (data) {
                        if (data.count == 6) {
                            var HtmlI = '';
                            for (var index = 0; index < 6; index++) {
                                HtmlI += '<a href="' + data.items[index].id + '" class="col-xs-6"><dl><dt><img src="' + data.items[index].image + '" alt="' + data.items[index].name + '"></dt><dd><h3>' + data.items[index].name + '</h3></dd><dd><strong>￥' + data.items[index].price + '</strong><span>返佣<em>￥' + data.items[index].brokerage + '</em></span></dd><dd>销量<em>' + data.items[index].salesCount + '</em></dd></dl></a>';
                            }
                        }
                        $('.downpull').html('刷新完成');
                        setTimeout(function(){
                            $(HtmlI).prependTo('.section section .goods-list .row');
                            myScroll.refresh();
                            myScroll.scrollTo(0, -40, 600);
                            $('.downpull').html('下拉刷新').addClass('flip').removeClass('loading');
                        },1000)
                    }
                });
            }

            function upPull() {
                $('.upload').html('正在加载');
                $.ajax({
                    type: 'post',
                    url: '/',
                    data: '',
                    async: true, //默认为true 异步
                    error: function () {
                        $('.upload').html('加载失败').addClass('flip').removeClass('loading');
                    },
                    success: function (data) {
                        if (data.count == 6) {
                            var HtmlI = '';
                            for (var index = 0; index < 6; index++) {
                                HtmlI += '<a href="' + data.items[index].id + '" class="col-xs-6"><dl><dt><img src="' + data.items[index].image + '" alt="' + data.items[index].name + '"></dt><dd><h3>' + data.items[index].name + '</h3></dd><dd><strong>￥' + data.items[index].price + '</strong><span>返佣<em>￥' + data.items[index].brokerage + '</em></span></dd><dd>销量<em>' + data.items[index].salesCount + '</em></dd></dl></a>';
                            }
                        }
                        $(HtmlI).appendTo('.section section .goods-list .row');
                        myScroll.refresh();
                        $('.upload').html('上拉加载').addClass('flip').removeClass('loading');
                    }
                });
            }
            $(function () {
                //banner
                var current = $('.sliderBanner ol li.active').index(),
                        prevIndex,
                        activeIndex,
                        nextIndex,
                        step,
                        timerA,
                        timerB,
                        isMove = false;
                autoMove();
                $('.sliderBanner').mouseover(function () {
                    clearInterval(timerB);
                }).mouseout(function () {
                    autoMove();
                });
                $('.sliderBanner ol li').click(function () {
                    if (isMove) return;
                    var bIndex = $(this).index();
                    $(this).addClass('active').siblings().removeClass('active');
                    doFun(bIndex, true);
                });
                function autoMove() {
                    var autoIndex;
                    clearInterval(timerB);
                    timerB = setInterval(function () {
                        autoIndex = current + 1;
                        autoIndex = (autoIndex > $('.sliderBanner ol li').length - 1) ? 0 : autoIndex;
                        $('.sliderBanner ol li').eq(autoIndex).addClass('active').siblings().removeClass('active');
                        doFun(autoIndex, false);
                    }, 3000)
                }

                function doFun(index, isBool) {
                    viewSlider(isBool, index, $('.sliderBanner ol li').length - 1);
                    clearTimeout(timerA);
                    timerA = setTimeout(function () {
                        renderSlider(index, $('.sliderBanner ol li').length - 1);
                    }, 600);
                }

                function viewSlider(isbool, indexValue, maxIndex) {
                    if (indexValue - current > 1) {
                        if (indexValue - current == maxIndex && !isbool) {
                            prevIndex = maxIndex;
                            activeIndex = current;
                            nextIndex = current + 1;
                        } else {
                            prevIndex = indexValue - 1;
                            activeIndex = current;
                            nextIndex = indexValue;
                        }
                    } else if (indexValue - current < -1) {
                        if (indexValue - current == -maxIndex && !isbool) {
                            prevIndex = current - 1;
                            activeIndex = current;
                            nextIndex = 0;
                        } else {
                            prevIndex = indexValue;
                            activeIndex = current;
                            nextIndex = indexValue + 1;
                        }
                    } else if (indexValue > current) {
                        prevIndex = (current <= 0) ? maxIndex : 0;
                        activeIndex = current;
                        nextIndex = indexValue;
                    } else if (indexValue < current) {
                        prevIndex = indexValue;
                        activeIndex = current;
                        nextIndex = (current >= maxIndex) ? 0 : maxIndex;
                    } else {
                        return;
                    }
                    updataClass(prevIndex, activeIndex, nextIndex);
                    moveSlider(isbool, indexValue, current);
                }

                function renderSlider(indexRender, maxIndex) {
                    if (indexRender <= 0) {
                        prevIndex = maxIndex;
                        activeIndex = indexRender;
                        nextIndex = indexRender + 1;
                    } else if (indexRender >= maxIndex) {
                        prevIndex = indexRender - 1;
                        activeIndex = indexRender;
                        nextIndex = 0;
                    } else {
                        prevIndex = indexRender - 1;
                        activeIndex = indexRender;
                        nextIndex = indexRender + 1;
                    }
                    updataClass(prevIndex, activeIndex, nextIndex);
                    current = indexRender;
                }

                function updataClass(prevUp, activeUp, nextUp) {
                    $('.sliderBanner ul').css({
                        'transition': 'transform 0s ease-in-out',
                        'transform': 'translate3D(0,0,0)'
                    });
                    $('.sliderBanner ul li').eq(prevUp).addClass('prev').siblings().removeClass('prev');
                    $('.sliderBanner ul li').eq(activeUp).addClass('active').siblings().removeClass('active');
                    $('.sliderBanner ul li').eq(nextUp).addClass('next').siblings().removeClass('next');
                }

                function moveSlider(isbool, indexMove, currentMove) {
                    isMove = true;
                    step = indexMove > currentMove ? '-100%' : '100%';
                    if (!isbool) {
                        step = (indexMove == 0 && current == $('.sliderBanner ol li').length - 1) ? '-100%' : step;
                        step = (indexMove == $('.sliderBanner ol li').length - 1 && current == 0) ? '100%' : step;
                    }
                    $('.sliderBanner ul').css({
                        'transition': 'transform .6s ease-in-out',
                        'transform': 'translate3D(' + step + ',0,0)'
                    });
                    setTimeout(function () {
                        isMove = false;
                    }, 700);
                }

                var starX,
                        starY,
                        endX,
                        endY,
                        listening;
                $('.sliderBanner').mousedown(function (e) {
                    e.preventDefault();
                    if (isMove) return;
                    starX = endX = e.originalEvent.x || e.originalEvent.layerX || 0;
                    starY = endY = e.originalEvent.y || e.originalEvent.layerY || 0;
                    listening = true;
                });
                $('.sliderBanner').mouseup(function (e) {
                    if (listening) {
                        touchMove();
                        listening = false;
                    }
                });
                $('.sliderBanner').mouseleave(function (e) {
                    if (listening) {
                        touchMove();
                        listening = false;
                    }
                });
                $('.sliderBanner').mousemove(function (e) {
                    if (listening) {
                        endX = e.originalEvent.x || e.originalEvent.layerX || 0;
                        endY = e.originalEvent.y || e.originalEvent.layerY || 0;
                        $('.sliderBanner ul').css({
                            'transition': 'transform 0s ease-in-out',
                            'transform': 'translate3D(' + (endX - starX) + 'px,0,0)'
                        });
                    }
                });
                function touchMove() {
                    var touchIndex;
                    if ((endX - starX) > 20) {
                        autoIndex = current - 1;
                        autoIndex = (autoIndex < 0) ? $('.sliderBanner ol li').length - 1 : autoIndex;
                        $('.sliderBanner ol li').eq(autoIndex).addClass('active').siblings().removeClass('active');
                        doFun(autoIndex, false);
                    } else if ((endX - starX) < -20) {
                        touchIndex = current + 1;
                        touchIndex = (touchIndex > $('.sliderBanner ol li').length - 1) ? 0 : touchIndex;
                        $('.sliderBanner ol li').eq(touchIndex).addClass('active').siblings().removeClass('active');
                        doFun(touchIndex, false);
                    }
                    else {
                        $('.sliderBanner ul').css({
                            'transition': 'transform .6s ease-in-out',
                            'transform': 'translate3D(0,0,0)'
                        });
                    }
                }

                var Banner = document.getElementById('sliderBanner');
                Banner.addEventListener("touchstart", function (event) {
                    if (isMove) return;
                    clearInterval(timerB);
                    starX = endX = event.touches[0].clientX;
                    starY = endY = event.touches[0].clientY;
                    listening = true;
                }, false);
                Banner.addEventListener("touchmove", function (event) {
                    if (listening) {
                        event.preventDefault();
                        endX = event.changedTouches[0].clientX;
                        endY = event.changedTouches[0].clientY;
                        $('.sliderBanner ul').css({
                            'transition': 'transform 0s ease-in-out',
                            'transform': 'translate3D(' + (endX - starX) + 'px,0,0)'
                        });
                    }
                }, false);
                Banner.addEventListener("touchend", function (event) {
                    if (listening) {
                        autoMove();
                        if (starX != endX) {
                            touchMove();
                            listening = false;
                        }
                    }
                }, false);
            })